Repository GPTteam-RS-2023Q1/eCommerceApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-61 feat: add filters
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/filter-modal/filter-modal.component.html
  src/app/catalog/components/filter-modal/filter-modal.component.scss
  src/app/catalog/components/filter-modal/filter-modal.component.spec.ts
  src/app/catalog/components/filter-modal/filter-modal.component.ts
  src/app/catalog/components/filter-multi-select/filter-multi-select.component.html
  src/app/catalog/components/filter-multi-select/filter-multi-select.component.scss
  src/app/catalog/components/filter-multi-select/filter-multi-select.component.spec.ts
  src/app/catalog/components/filter-multi-select/filter-multi-select.component.ts
  src/app/catalog/components/filters/filters.component.html
  src/app/catalog/components/filters/filters.component.ts
  src/app/catalog/components/price-input/price-input.component.html
  src/app/catalog/components/price-input/price-input.component.scss
  src/app/catalog/components/price-input/price-input.component.spec.ts
  src/app/catalog/components/price-input/price-input.component.ts
  src/app/catalog/models/enums/colors.enums.ts
  src/app/catalog/models/enums/patern.enum.ts
  src/app/catalog/models/enums/season.enum.ts
  src/app/catalog/services/query-builder.service.ts
  src/app/core/services/product.service.ts
  src/app/shared/models/classes/abstract-raji-control.ts
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.html
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.ts
  src/app/user/pages/profile/components/tag-input/tag-input.component.html
  src/app/user/pages/profile/components/tag-input/tag-input.component.scss
  src/app/user/pages/profile/components/tag-input/tag-input.component.spec.ts
  src/app/user/pages/profile/components/tag-input/tag-input.component.ts
  src/app/user/user.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-51 feat(search): add search by text
  src/app/catalog/catalog.component.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/filters/filters.component.html
  src/app/catalog/components/filters/filters.component.scss
  src/app/catalog/components/filters/filters.component.ts
  src/app/catalog/components/products/products.component.html
  src/app/catalog/components/products/products.component.ts
  src/app/catalog/components/search/search.component.html
  src/app/catalog/components/search/search.component.scss
  src/app/catalog/components/search/search.component.spec.ts
  src/app/catalog/components/search/search.component.ts
  src/app/catalog/guards/catalog.resolver.ts
  src/app/catalog/models/enums/sort-modes.ts
  src/app/catalog/services/query-builder.service.ts
  src/app/catalog/services/url-builder.service.spec.ts
  src/app/catalog/services/url-builder.service.ts
  src/app/core/services/product.service.ts
  src/app/ngrx/effects/catalog.effects.ts
  src/app/ngrx/store.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-51 fix(filters): repair product display on reset page
  src/app/catalog/components/categories/categories.component.ts
  src/app/catalog/components/filter-modal/filter-modal.component.html
  src/app/catalog/components/filter-modal/filter-modal.component.scss
  src/app/catalog/components/filter-modal/filter-modal.component.ts
  src/app/catalog/components/filters/filters.component.html
  src/app/catalog/components/filters/filters.component.scss
  src/app/catalog/components/filters/filters.component.ts
  src/app/catalog/components/search/search.component.scss
  src/app/catalog/services/query-builder.service.ts
  src/styles.scss
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-62 feat: add sorting
  src/app/catalog/catalog.component.scss
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/filter-modal/filter-modal.component.ts
  src/app/catalog/components/filters/filters.component.html
  src/app/catalog/components/filters/filters.component.scss
  src/app/catalog/components/price-input/price-input.component.html
  src/app/catalog/components/price-input/price-input.component.ts
  src/app/catalog/components/sort/sort.component.html
  src/app/catalog/components/sort/sort.component.scss
  src/app/catalog/components/sort/sort.component.spec.ts
  src/app/catalog/components/sort/sort.component.ts
  src/app/catalog/models/enums/sort-modes.ts
  src/app/catalog/services/query-builder.service.ts
  src/app/core/services/product.service.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-51 fix(cards): fix image display on big screen sizes
  src/app/catalog/components/card/card.component.ts
Due: eslint --fix, prettier --list-different --write

EC-60 fix: catalog adaptive
  src/app/catalog/catalog.component.scss
  src/app/catalog/components/filters/filters.component.scss
Due: npx stylelint --fix, prettier --list-different --write

EC-60 fix: edit sorting item
  src/app/catalog/components/sort/sort.component.html
Due: prettier --list-different --write

EC-51 refactor: deleted console logs and debugger
  src/app/catalog/components/card/card.component.ts
  src/app/shared/models/classes/abstract-raji-control.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.ts
Due: eslint --fix, prettier --list-different --write

EC-64 fix(directive): fix contol dependency directive on profile page
  src/app/auth/auth.module.ts
  src/app/auth/services/auth.service.ts
  src/app/catalog/components/filter-modal/filter-modal.component.scss
  src/app/catalog/components/sort/sort.component.html
  src/app/catalog/components/sort/sort.component.ts
  src/app/shared/directives/control-dependency.directive.spec.ts
  src/app/shared/directives/control-dependency.directive.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-65 feat(pagination): create pagination
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/filter-modal/filter-modal.component.ts
  src/app/catalog/components/pagination/pagination.component.html
  src/app/catalog/components/pagination/pagination.component.scss
  src/app/catalog/components/pagination/pagination.component.spec.ts
  src/app/catalog/components/pagination/pagination.component.ts
  src/app/catalog/components/products/products.component.html
  src/app/catalog/components/products/products.component.scss
  src/app/catalog/components/products/products.component.ts
  src/app/catalog/components/sort/sort.component.ts
  src/app/catalog/consts/consts.ts
  src/app/catalog/guards/catalog.resolver.ts
  src/app/catalog/pages/catalog/catalog.component.scss
  src/app/catalog/pipes/get-page-count.pipe.spec.ts
  src/app/catalog/pipes/get-page-count.pipe.ts
  src/app/catalog/services/query-builder.service.ts
  src/app/ngrx/actions/catalog.actions.ts
  src/app/ngrx/effects/catalog.effects.ts
  src/app/ngrx/state.model.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-76 feat: add shopping cart integration
  src/app/app.module.ts
  src/app/auth/services/auth.service.ts
  src/app/ngrx/actions/auth.actions.ts
  src/app/ngrx/actions/cart.actions.ts
  src/app/ngrx/effects/auth.effects.ts
  src/app/ngrx/effects/cart.effect.ts
  src/app/ngrx/reducers/appReducers.ts
  src/app/ngrx/reducers/cart.reducer.ts
  src/app/ngrx/selectors/auth.selector.ts
  src/app/ngrx/selectors/cart.selector.ts
  src/app/ngrx/state.model.ts
  src/app/ngrx/store.module.ts
  src/app/user/models/cart-update.actions.ts
  src/app/user/models/cart.model.ts
  src/app/user/models/enums/cart-actions.enum.ts
  src/app/user/pages/cart/cart.component.ts
  src/app/user/services/cart.service.ts
Due: eslint --fix, prettier --list-different --write

EC-65 feat(catalog): add cart button to cards
  src/app/catalog/components/card/card.component.html
  src/app/catalog/components/card/card.component.scss
  src/app/catalog/components/products/products.component.scss
  src/app/catalog/pages/catalog/catalog.component.scss
  src/assets/cart.svg
Due: npx stylelint --fix, prettier --list-different --write

EC-65 fix: notification service, lineItemAdd action
  src/app/app.component.html
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/card/card.component.html
  src/app/catalog/components/card/card.component.scss
  src/app/catalog/components/card/card.component.ts
  src/app/catalog/components/products/products.component.html
  src/app/catalog/components/products/products.component.ts
  src/app/catalog/pipes/get-size-of-variant.pipe.spec.ts
  src/app/catalog/pipes/get-size-of-variant.pipe.ts
  src/app/core/components/notifications/notifications.component.html
  src/app/core/components/notifications/notifications.component.scss
  src/app/core/components/notifications/notifications.component.spec.ts
  src/app/core/components/notifications/notifications.component.ts
  src/app/core/core.module.ts
  src/app/shared/models/interfaces/product-variant.ts
  src/app/shared/services/notofication.service.ts
  src/app/user/models/cart-update.actions.ts
  src/app/user/models/cart.model.ts
  src/app/user/pages/cart/cart.component.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.ts
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.ts
  src/app/user/pages/profile/components/customer-info/customer-info.component.ts
  src/app/user/pages/profile/profile.component.html
  src/app/user/pages/profile/profile.component.scss
  src/app/user/pages/profile/profile.component.ts
  src/app/user/services/cart-action-builder.service.spec.ts
  src/app/user/services/cart-action-builder.service.ts
  src/app/user/services/cart-facade.service.spec.ts
  src/app/user/services/cart-facade.service.ts
  src/app/user/services/cart.service.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-71 feat: add order component
  src/app/user/models/cart-update.actions.ts
  src/app/user/models/cart.model.ts
  src/app/user/models/enums/cart-actions.enum.ts
  src/app/user/pages/cart/cart.component.html
  src/app/user/pages/cart/components/discount-input/discount-input.component.html
  src/app/user/pages/cart/components/discount-input/discount-input.component.scss
  src/app/user/pages/cart/components/discount-input/discount-input.component.spec.ts
  src/app/user/pages/cart/components/discount-input/discount-input.component.ts
  src/app/user/pages/cart/components/order-info/order-info.component.html
  src/app/user/pages/cart/components/order-info/order-info.component.scss
  src/app/user/pages/cart/components/order-info/order-info.component.spec.ts
  src/app/user/pages/cart/components/order-info/order-info.component.ts
  src/app/user/pages/cart/components/total-price/total-price.component.html
  src/app/user/pages/cart/components/total-price/total-price.component.scss
  src/app/user/pages/cart/components/total-price/total-price.component.spec.ts
  src/app/user/pages/cart/components/total-price/total-price.component.ts
  src/app/user/user.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-68 feat: add card
  src/app/core/components/footer/footer.component.html
  src/app/core/components/footer/footer.component.scss
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/components/user-menu/user-menu.component.html
  src/app/core/core.module.ts
  src/app/ngrx/selectors/cart.selector.ts
  src/app/user/pages/cart/cart.component.html
  src/app/user/pages/cart/cart.component.scss
  src/app/user/pages/cart/cart.component.ts
  src/app/user/services/cart.service.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-68 feat: display the list
  src/app/catalog/components/products/products.component.ts
  src/app/user/components/card-basket/card-basket.component.html
  src/app/user/components/card-basket/card-basket.component.scss
  src/app/user/components/card-basket/card-basket.component.spec.ts
  src/app/user/components/card-basket/card-basket.component.ts
  src/app/user/models/cart.model.ts
  src/app/user/models/enums/cart-actions.enum.ts
  src/app/user/pages/cart/cart.component.html
  src/app/user/pages/cart/cart.component.scss
  src/app/user/pages/cart/cart.component.ts
  src/app/user/user.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-65 feat(product page): add to card/remove from card button
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/products/products.component.ts
  src/app/catalog/pages/product/product.component.html
  src/app/catalog/pages/product/product.component.scss
  src/app/catalog/pages/product/product.component.ts
  src/app/catalog/pipes/get-size-of-variant.pipe.ts
  src/app/catalog/pipes/translate-attribute.pipe.spec.ts
  src/app/catalog/pipes/translate-attribute.pipe.ts
  src/app/catalog/services/product.service.ts
  src/app/shared/models/interfaces/product.ts
  src/app/shared/shared.module.ts
  src/app/user/models/cart-update.actions.ts
  src/app/user/models/enums/cart-actions.enum.ts
  src/app/user/services/cart-action-builder.service.ts
  src/app/user/services/cart-facade.service.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-71 feat: add discount input
  src/app/user/pages/cart/components/discount-input/discount-input.component.html
  src/app/user/pages/cart/components/discount-input/discount-input.component.scss
  src/app/user/pages/cart/components/discount-input/discount-input.component.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-66 feat: resolve confilcts after megre with sprint_4
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/products/products.component.ts
  src/app/catalog/pages/product/product.component.html
  src/app/catalog/pages/product/product.component.scss
  src/app/catalog/pages/product/product.component.ts
  src/app/catalog/pipes/get-size-of-variant.pipe.ts
  src/app/catalog/pipes/translate-attribute.pipe.spec.ts
  src/app/catalog/pipes/translate-attribute.pipe.ts
  src/app/catalog/services/product.service.ts
  src/app/shared/models/interfaces/product.ts
  src/app/shared/shared.module.ts
  src/app/user/components/card-basket/card-basket.component.html
  src/app/user/components/card-basket/card-basket.component.ts
  src/app/user/models/cart-update.actions.ts
  src/app/user/services/cart-action-builder.service.ts
  src/app/user/services/cart-facade.service.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-66 refactor(card): deleted useful code, add relative navigation
  src/app/user/pages/cart/cart.component.ts
  src/app/user/services/cart.service.ts
Due: eslint --fix, prettier --list-different --write

EC-71 feat: finish price component & add discounts list
  src/app/core/components/header/header.component.ts
  src/app/ngrx/selectors/cart.selector.ts
  src/app/user/models/cart.model.ts
  src/app/user/models/discounts.model.ts
  src/app/user/pages/cart/components/discount-input/discount-input.component.html
  src/app/user/pages/cart/components/discount-input/discount-input.component.ts
  src/app/user/pages/cart/components/order-info/order-info.component.html
  src/app/user/pages/cart/components/order-info/order-info.component.scss
  src/app/user/pages/cart/components/order-info/order-info.component.ts
  src/app/user/pages/cart/components/total-price/total-price.component.html
  src/app/user/pages/cart/components/total-price/total-price.component.scss
  src/app/user/pages/cart/components/total-price/total-price.component.ts
  src/app/user/services/cart-action-builder.service.ts
  src/app/user/services/cart-facade.service.ts
  src/app/user/services/cart.service.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-71 feat: finish task
  src/app/ngrx/selectors/cart.selector.ts
  src/app/user/components/discount-info/discount-info.component.html
  src/app/user/components/discount-info/discount-info.component.scss
  src/app/user/components/discount-info/discount-info.component.spec.ts
  src/app/user/components/discount-info/discount-info.component.ts
  src/app/user/components/discount-input/discount-input.component.html
  src/app/user/components/discount-input/discount-input.component.scss
  src/app/user/components/discount-input/discount-input.component.spec.ts
  src/app/user/components/discount-input/discount-input.component.ts
  src/app/user/components/order-info/order-info.component.html
  src/app/user/components/order-info/order-info.component.scss
  src/app/user/components/order-info/order-info.component.spec.ts
  src/app/user/components/order-info/order-info.component.ts
  src/app/user/components/total-price/total-price.component.html
  src/app/user/components/total-price/total-price.component.scss
  src/app/user/components/total-price/total-price.component.spec.ts
  src/app/user/components/total-price/total-price.component.ts
  src/app/user/models/cart-update.actions.ts
  src/app/user/models/discounts.model.ts
  src/app/user/models/enums/cart-actions.enum.ts
  src/app/user/pages/cart/components/order-info/order-info.component.html
  src/app/user/pages/cart/components/total-price/total-price.component.html
  src/app/user/services/cart-action-builder.service.ts
  src/app/user/services/cart-facade.service.ts
  src/app/user/services/cart.service.ts
  src/app/user/user.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-71 feat: some clean up
  src/app/user/components/discount-info/discount-info.component.ts
  src/app/user/components/order-info/order-info.component.html
  src/app/user/components/order-info/order-info.component.ts
  src/app/user/components/total-price/total-price.component.ts
  src/app/user/pages/cart/cart.component.html
Due: eslint --fix, prettier --list-different --write

EC-68 feat: implementation about us page
  src/app/core/pages/about/about.component.html
  src/app/core/pages/about/about.component.scss
  src/assets/aliaksei-sl.jpg
  src/assets/intelligentraji.jpg
  src/assets/rs_school.svg
  src/assets/sobyt483.jpg
Due: npx stylelint --fix, prettier --list-different --write

EC-68 fix: add wrapper to cart
  src/app/user/pages/cart/cart.component.scss
Due: npx stylelint --fix, prettier --list-different --write

EC-69 feat(fix): remove delete and change quantity bugs
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/price/price.component.html
  src/app/catalog/components/price/price.component.ts
  src/app/catalog/components/products/products.component.html
  src/app/catalog/components/products/products.component.ts
  src/app/ngrx/selectors/cart.selector.ts
  src/app/shared/pipes/format-price.pipe.spec.ts
  src/app/shared/pipes/format-price.pipe.ts
  src/app/shared/shared.module.ts
  src/app/user/components/card-basket/card-basket.component.html
  src/app/user/components/card-basket/card-basket.component.scss
  src/app/user/components/card-basket/card-basket.component.ts
  src/app/user/components/order-info/order-info.component.scss
  src/app/user/models/cart-update.actions.ts
  src/app/user/models/cart.model.ts
  src/app/user/models/enums/cart-actions.enum.ts
  src/app/user/pages/cart/cart.component.html
  src/app/user/pages/cart/cart.component.scss
  src/app/user/pages/cart/cart.component.ts
  src/app/user/services/cart-action-builder.service.ts
  src/app/user/services/cart-facade.service.ts
  src/app/user/services/cart.service.ts
  src/app/user/user.module.ts
  src/assets/trash-bin.svg
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-69 feat: add promocodes button
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/core.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-79 feat: add adaptive design
  src/app/user/components/card-basket/card-basket.component.scss
  src/app/user/components/order-info/order-info.component.scss
  src/app/user/pages/cart/cart.component.scss
Due: npx stylelint --fix, prettier --list-different --write

EC-79 refactor: moving components from user page
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/user/components/customer-addresses/customer-address/customer-address.component.html
  src/app/user/components/customer-addresses/customer-address/customer-address.component.scss
  src/app/user/components/customer-addresses/customer-address/customer-address.component.spec.ts
  src/app/user/components/customer-addresses/customer-address/customer-address.component.ts
  src/app/user/components/customer-addresses/customer-addresses.component.html
  src/app/user/components/customer-addresses/customer-addresses.component.scss
  src/app/user/components/customer-addresses/customer-addresses.component.spec.ts
  src/app/user/components/customer-addresses/customer-addresses.component.ts
  src/app/user/components/customer-info/customer-info.component.html
  src/app/user/components/customer-info/customer-info.component.scss
  src/app/user/components/customer-info/customer-info.component.spec.ts
  src/app/user/components/customer-info/customer-info.component.ts
  src/app/user/components/dialogs/baseUserProfileDialog.ts
  src/app/user/components/dialogs/edit-address-dialog/edit-address-dialog.component.html
  src/app/user/components/dialogs/edit-address-dialog/edit-address-dialog.component.scss
  src/app/user/components/dialogs/edit-address-dialog/edit-address-dialog.component.spec.ts
  src/app/user/components/dialogs/edit-address-dialog/edit-address-dialog.component.ts
  src/app/user/components/dialogs/password-dialog/password-dialog.component.html
  src/app/user/components/dialogs/password-dialog/password-dialog.component.scss
  src/app/user/components/dialogs/password-dialog/password-dialog.component.spec.ts
  src/app/user/components/dialogs/password-dialog/password-dialog.component.ts
  src/app/user/components/dialogs/user-info-dialog/user-info-dialog.component.html
  src/app/user/components/dialogs/user-info-dialog/user-info-dialog.component.scss
  src/app/user/components/dialogs/user-info-dialog/user-info-dialog.component.spec.ts
  src/app/user/components/dialogs/user-info-dialog/user-info-dialog.component.ts
  src/app/user/components/tag-input/tag-input.component.html
  src/app/user/components/tag-input/tag-input.component.scss
  src/app/user/components/tag-input/tag-input.component.spec.ts
  src/app/user/components/tag-input/tag-input.component.ts
  src/app/user/guard/profile.guard.ts
  src/app/user/pages/profile/profile.component.ts
  src/app/user/services/customer-action-builder.service.ts
  src/app/user/services/customer-builder.service.spec.ts
  src/app/user/services/customer-builder.service.ts
  src/app/user/services/update-cutomer.service.ts
  src/app/user/user-routing.module.ts
  src/app/user/user.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-78 feat: add some tests
  src/app/catalog/components/filter-multi-select/filter-multi-select.component.spec.ts
  src/app/catalog/components/filters/filters.component.spec.ts
  src/app/catalog/components/pagination/pagination.component.spec.ts
  src/app/catalog/components/price-input/price-input.component.spec.ts
  src/app/catalog/components/products/products.component.spec.ts
  src/app/catalog/components/search/search.component.spec.ts
  src/app/catalog/components/sort/sort.component.spec.ts
  src/app/catalog/pages/product/product.component.spec.ts
  src/app/catalog/services/category.service.spec.ts
  src/app/catalog/services/query-builder.service.spec.ts
  src/app/catalog/services/query-builder.service.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/main/main.module.ts
  src/app/main/pages/main/main.component.spec.ts
Due: eslint --fix, prettier --list-different --write

EC-79 fix: change member-card
  src/app/core/components/header/header.component.ts
  src/app/core/pages/about/about.component.scss
  src/styles.scss
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-78 feat: add more tests
  src/app/catalog/components/carousel-img/carousel-img.component.spec.ts
  src/app/catalog/components/categories/categories.component.spec.ts
  src/app/catalog/components/categories/tree-item/tree-item.component.spec.ts
  src/app/catalog/components/filter-modal/filter-modal.component.spec.ts
  src/app/catalog/pages/catalog/catalog.component.spec.ts
  src/app/catalog/services/product.service.spec.ts
  src/app/shared/components/birthday-input/birthday-input.component.spec.ts
  src/app/user/components/card-basket/card-basket.component.spec.ts
  src/app/user/components/discount-info/discount-info.component.spec.ts
  src/app/user/components/discount-input/discount-input.component.spec.ts
  src/app/user/components/order-info/order-info.component.spec.ts
  src/app/user/components/total-price/total-price.component.spec.ts
  src/app/user/pages/cart/cart.component.spec.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.spec.ts
  src/app/user/pages/profile/components/customer-info/customer-info.component.spec.ts
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.spec.ts
  src/app/user/pages/profile/components/dialogs/password-dialog/password-dialog.component.spec.ts
  src/app/user/pages/profile/components/dialogs/user-info-dialog/user-info-dialog.component.spec.ts
  src/app/user/pages/profile/components/tag-input/tag-input.component.spec.ts
  src/app/user/pages/profile/profile.component.spec.ts
  src/app/user/services/cart-facade.service.spec.ts
Due: eslint --fix, prettier --list-different --write

EC-78 feat: finish tests
  src/app/catalog/components/categories/categories.component.spec.ts
  src/app/catalog/pages/catalog/catalog.component.spec.ts
  src/app/shared/components/form-fail-notification/form-fail-notification.component.spec.ts
  src/app/user/components/card-basket/card-basket.component.spec.ts
  src/app/user/components/discount-input/discount-input.component.spec.ts
  src/app/user/components/order-info/order-info.component.spec.ts
  src/app/user/components/total-price/total-price.component.spec.ts
  src/app/user/pages/cart/cart.component.spec.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.spec.ts
  src/app/user/pages/profile/components/customer-info/customer-info.component.spec.ts
  src/app/user/pages/profile/profile.component.spec.ts
  src/app/user/services/cart-facade.service.spec.ts
Due: eslint --fix, prettier --list-different --write

EC-78 feat: add promo on main page
  src/app/main/pages/main/main.component.html
  src/app/main/pages/main/main.component.scss
  src/app/main/pages/main/main.component.ts
  src/app/user/services/cart-facade.service.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-70 feat: merege with sprint_4
  src/app/app.component.html
  src/app/app.component.scss
  src/app/catalog/components/products/products.component.html
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/pages/about/about.component.html
  src/app/shared/shared.module.ts
  src/app/user/components/card-basket/card-basket.component.scss
  src/app/user/components/customer-addresses/customer-address/customer-address.component.html
  src/app/user/guard/cart.guard.ts
  src/app/user/pages/cart/cart.component.html
  src/app/user/pages/cart/cart.component.scss
  src/app/user/pages/profile/guard/cart.guard.ts
  src/app/user/services/cart-facade.service.ts
  src/app/user/user-routing.module.ts
  src/assets/not-found.jpg
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-70 feat(main): change logo and store name
  src/app/core/components/footer/footer.component.html
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/assets/VogueGPT.svg
Due: npx stylelint --fix, prettier --list-different --write

EC-80 fix: delete canActivateCart show empty cart message
  src/app/user/guard/cart.guard.ts
  src/app/user/pages/cart/cart.component.html
  src/app/user/user-routing.module.ts
Due: eslint --fix, prettier --list-different --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  npx stylelint --fix: any of: *.scss
  prettier --list-different --write: any of: *
