Repository GPTteam-RS-2023Q1/eCommerceApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx stylelint --fix, prettier --list-different --write

.lintstagedrc:

{
  "*.{js,ts}": "eslint --fix",
  "*.scss": "npx stylelint --fix",
  "*": "prettier --list-different --write"
}

EC-25 feat: remove crutch & add app initializer func
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/ngrx/effects/auth.effects.ts
Due: eslint --fix, prettier --list-different --write

EC-39 feat: add deploy
  .firebaserc
  .gitignore
  firebase.json
  package.json
Due: prettier --list-different --write

EC-40 fix: fix default addresses bug
  src/app/core/services/customer-builder.service.ts
Due: eslint --fix, prettier --list-different --write

EC-39 docs: update readme
  README.md
Due: prettier --list-different --write

EC-32 feat(routing): add navigation between login and sign up pages
  src/app/app-routing.module.ts
  src/app/auth/pages/sign-in/sign-in.component.html
  src/app/auth/pages/sign-in/sign-in.component.scss
  src/app/auth/pages/sign-in/sign-in.component.ts
  src/app/auth/pages/sign-up/sign-up.component.html
  src/app/auth/pages/sign-up/sign-up.component.scss
  src/app/shared/shared.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-43 feat: add & fix tests
  src/app/auth/components/address-form/address-form.component.spec.ts
  src/app/auth/components/auth-fail/auth-fail.component.spec.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/pages/sign-in/sign-in.component.spec.ts
  src/app/auth/pages/sign-up/sign-up.component.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/user-menu/user-menu.component.spec.ts
Due: eslint --fix, prettier --list-different --write

EC-41 feat: add responsive header
  src/app/core/components/auth-menu/auth-menu.component.html
  src/app/core/components/auth-menu/auth-menu.component.scss
  src/app/core/components/auth-menu/auth-menu.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/components/user-menu/user-menu.component.html
  src/app/core/components/user-menu/user-menu.component.scss
  src/app/core/components/user-menu/user-menu.component.ts
  src/app/main/pages/main/main.component.html
  src/app/main/pages/main/main.component.scss
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-41 feat: add responsive forms
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/pages/sign-in/sign-in.component.scss
  src/app/auth/pages/sign-up/sign-up.component.scss
  src/app/core/components/footer/footer.component.scss
  src/app/core/core.module.ts
  src/app/main/main.module.ts
  src/app/main/pages/main/main.component.scss
  src/app/shared/shared.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-42 fix: add white space email validation
  src/app/auth/components/address-form/address-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/directives/control-dependency.directive.ts
  src/app/auth/validators/birthday-validator.ts
  src/app/shared/components/email-input/email-input.component.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-41 fix: change link sign-up in sign-in
  src/app/auth/pages/sign-in/sign-in.component.html
  src/app/auth/pages/sign-in/sign-in.component.scss
  src/app/auth/pages/sign-in/sign-in.component.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-44 fix: add z-index for tui-dropdown-host
  src/styles.scss
Due: npx stylelint --fix, prettier --list-different --write

EC-45 fix(sign-up): fix postal code input in another form when forms are matched
  src/app/auth/components/address-form/address-form.component.ts
Due: eslint --fix, prettier --list-different --write

EC-56 fix: fix test import
  src/app/main/pages/main/main.component.spec.ts
Due: eslint --fix, prettier --list-different --write

EC-56 feat: add tui Table & Tag module
  package-lock.json
  package.json
  src/app/shared/shared.module.ts
Due: eslint --fix, prettier --list-different --write

EC-56 fix: fix customer inteface
  src/app/auth/models/customer.model.ts
Due: eslint --fix, prettier --list-different --write

EC-56 feat: add user information on user page
  src/app/ngrx/selectors/profle.selector.ts
  src/app/user/models/user-address.model.ts
  src/app/user/pages/profile/components/user-address/user-address.component.html
  src/app/user/pages/profile/components/user-address/user-address.component.scss
  src/app/user/pages/profile/components/user-address/user-address.component.spec.ts
  src/app/user/pages/profile/components/user-address/user-address.component.ts
  src/app/user/pages/profile/profile.component.html
  src/app/user/pages/profile/profile.component.ts
  src/app/user/user.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-56 feat: add customerState & remove customer from AuthState
  src/app/core/components/user-menu/user-menu.component.ts
  src/app/ngrx/actions/customer.actions.ts
  src/app/ngrx/effects/customer.effects.ts
  src/app/ngrx/reducers/appReducers.ts
  src/app/ngrx/reducers/auth.reducer.ts
  src/app/ngrx/reducers/customer.reducer.ts
  src/app/ngrx/selectors/auth.selector.ts
  src/app/ngrx/selectors/customer.selector.ts
  src/app/ngrx/selectors/profle.selector.ts
  src/app/ngrx/state.model.ts
  src/app/ngrx/store.module.ts
  src/app/user/pages/profile/components/user-address/user-address.component.ts
  src/app/user/pages/profile/profile.component.ts
Due: eslint --fix, prettier --list-different --write

EC-56 feat: finish profile page view
  src/app/shared/shared.module.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.html
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.scss
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.spec.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.ts
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.html
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.scss
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.spec.ts
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.ts
  src/app/user/pages/profile/components/customer-info/customer-info.component.html
  src/app/user/pages/profile/components/customer-info/customer-info.component.scss
  src/app/user/pages/profile/components/customer-info/customer-info.component.spec.ts
  src/app/user/pages/profile/components/customer-info/customer-info.component.ts
  src/app/user/pages/profile/components/user-address/user-address.component.html
  src/app/user/pages/profile/components/user-address/user-address.component.scss
  src/app/user/pages/profile/components/user-address/user-address.component.spec.ts
  src/app/user/pages/profile/components/user-address/user-address.component.ts
  src/app/user/pages/profile/profile.component.html
  src/app/user/pages/profile/profile.component.scss
  src/app/user/pages/profile/profile.component.ts
  src/app/user/user.module.ts
  src/styles.scss
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-56 feat: add remove address feature
  src/app/auth/models/customer.model.ts
  src/app/ngrx/selectors/customer.selector.ts
  src/app/user/models/customer-action.model.ts
  src/app/user/models/enums/customer-actions.enum.ts
  src/app/user/models/remove-address.model.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.ts
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.ts
  src/app/user/pages/profile/profile.component.ts
  src/app/user/pages/profile/services/update-cutomer.service.ts
Due: eslint --fix, prettier --list-different --write

EC-56 feat: add password change feature
  src/app/shared/components/form-fail-notification/form-fail-notification.component.html
  src/app/shared/components/form-fail-notification/form-fail-notification.component.scss
  src/app/shared/components/form-fail-notification/form-fail-notification.component.spec.ts
  src/app/shared/components/form-fail-notification/form-fail-notification.component.ts
  src/app/shared/shared.module.ts
  src/app/user/pages/profile/components/customer-info/customer-info.component.html
  src/app/user/pages/profile/components/customer-info/customer-info.component.ts
  src/app/user/pages/profile/components/dialogs/password-dialog/password-dialog.component.html
  src/app/user/pages/profile/components/dialogs/password-dialog/password-dialog.component.scss
  src/app/user/pages/profile/components/dialogs/password-dialog/password-dialog.component.spec.ts
  src/app/user/pages/profile/components/dialogs/password-dialog/password-dialog.component.ts
  src/app/user/pages/profile/services/update-cutomer.service.ts
  src/app/user/user.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-56 feat: add relogin on password change
  src/app/ngrx/effects/auth.effects.ts
  src/app/user/pages/profile/components/dialogs/password-dialog/password-dialog.component.ts
Due: eslint --fix, prettier --list-different --write

EC-56 feat: add edit user info feature
  src/app/core/services/customer-builder.service.ts
  src/app/user/models/change-email.modet.ts
  src/app/user/models/set-date-of-birth.model.ts
  src/app/user/models/set-first-name.model.ts
  src/app/user/models/set-last-name.model.ts
  src/app/user/pages/profile/components/customer-info/customer-info.component.ts
  src/app/user/pages/profile/components/dialogs/password-dialog/password-dialog.component.html
  src/app/user/pages/profile/components/dialogs/user-info-dialog/user-info-dialog.component.html
  src/app/user/pages/profile/components/dialogs/user-info-dialog/user-info-dialog.component.scss
  src/app/user/pages/profile/components/dialogs/user-info-dialog/user-info-dialog.component.spec.ts
  src/app/user/pages/profile/components/dialogs/user-info-dialog/user-info-dialog.component.ts
  src/app/user/pages/profile/profile.component.ts
  src/app/user/pages/profile/services/customer-action-builder.service.ts
  src/app/user/user.module.ts
  src/app/utils/createDate.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-50 feat(catalog): add products display
  src/app/app.module.ts
  src/app/auth/auth.interceptor.ts
  src/app/catalog/catalog-routing.module.ts
  src/app/catalog/catalog.component.html
  src/app/catalog/catalog.component.scss
  src/app/catalog/catalog.component.spec.ts
  src/app/catalog/catalog.component.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/card/card.component.html
  src/app/catalog/components/card/card.component.scss
  src/app/catalog/components/card/card.component.spec.ts
  src/app/catalog/components/card/card.component.ts
  src/app/catalog/components/products/products.component.html
  src/app/catalog/components/products/products.component.scss
  src/app/catalog/components/products/products.component.spec.ts
  src/app/catalog/components/products/products.component.ts
  src/app/core/components/footer/footer.component.scss
  src/app/core/models/currency-code.ts
  src/app/core/models/product-page-result.ts
  src/app/core/models/product-variant.ts
  src/app/core/models/product.ts
  src/app/core/services/product.service.spec.ts
  src/app/core/services/product.service.ts
  src/app/main/main-routing.module.ts
  src/app/main/main.module.ts
  src/app/main/pages/catalog/catalog.component.html
  src/app/main/pages/catalog/catalog.component.scss
  src/app/main/pages/main/main.component.ts
  src/app/ngrx/actions/catalog.actions.ts
  src/app/ngrx/effects/catalog.effects.ts
  src/app/ngrx/reducers/appReducers.ts
  src/app/ngrx/reducers/catalog.reducer.ts
  src/app/ngrx/selectors/catalog.selector.ts
  src/app/ngrx/state.model.ts
  src/app/ngrx/store.module.ts
  src/environments/environment.development.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-50 feat: add optimizeImage
  src/app/catalog/components/card/card.component.html
  src/app/catalog/components/card/card.component.scss
  src/app/catalog/components/card/card.component.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-56 feat: add edit address dialog
  src/app/auth/auth.module.ts
  src/app/shared/components/address-form/address-form.component.html
  src/app/shared/components/address-form/address-form.component.scss
  src/app/shared/components/address-form/address-form.component.spec.ts
  src/app/shared/components/address-form/address-form.component.ts
  src/app/shared/shared.module.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.html
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.ts
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.ts
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.html
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.scss
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.spec.ts
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.ts
  src/app/user/pages/profile/components/dialogs/user-info-dialog/user-info-dialog.component.ts
  src/app/user/pages/profile/services/customer-action-builder.service.ts
  src/app/user/user.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-56 feat: add Address edit dialog
  src/app/shared/shared.module.ts
  src/app/user/pages/profile/components/address-tag-input/address-tag-input.component.html
  src/app/user/pages/profile/components/address-tag-input/address-tag-input.component.scss
  src/app/user/pages/profile/components/address-tag-input/address-tag-input.component.spec.ts
  src/app/user/pages/profile/components/address-tag-input/address-tag-input.component.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.ts
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.html
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.scss
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.ts
  src/app/user/pages/profile/components/dialogs/password-dialog/password-dialog.component.html
  src/app/user/pages/profile/components/dialogs/password-dialog/password-dialog.component.scss
  src/app/user/pages/profile/components/dialogs/user-info-dialog/user-info-dialog.component.html
  src/app/user/pages/profile/components/dialogs/user-info-dialog/user-info-dialog.component.scss
  src/app/user/user.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-56 feat: add customer update actions models
  src/app/auth/models/address.model.ts
  src/app/user/models/customer-action.model.ts
  src/app/user/models/customer-update-actions/add-address.model.ts
  src/app/user/models/customer-update-actions/change-address.model.ts
  src/app/user/models/customer-update-actions/change-email.modet.ts
  src/app/user/models/customer-update-actions/customer-action.model.ts
  src/app/user/models/customer-update-actions/remove-address.model.ts
  src/app/user/models/customer-update-actions/set-address-tag.model.ts
  src/app/user/models/customer-update-actions/set-date-of-birth.model.ts
  src/app/user/models/customer-update-actions/set-first-name.model.ts
  src/app/user/models/customer-update-actions/set-last-name.model.ts
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.ts
  src/app/user/pages/profile/services/customer-action-builder.service.ts
  src/app/user/pages/profile/services/update-cutomer.service.ts
Due: eslint --fix, prettier --list-different --write

EC-50 feat(catalog): add price and discount
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/card/card.component.html
  src/app/catalog/components/card/card.component.scss
  src/app/catalog/components/card/card.component.ts
  src/app/catalog/components/products/products.component.scss
  src/app/core/components/price/price.component.html
  src/app/core/components/price/price.component.scss
  src/app/core/components/price/price.component.spec.ts
  src/app/core/components/price/price.component.ts
  src/app/core/core.module.ts
  src/app/core/models/product-variant.ts
  src/app/core/models/product.ts
  src/templates.scss
  src/variables.scss
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-56 feat: add change address feature
  src/app/core/services/customer-builder.service.ts
  src/app/user/models/customer-update-actions/address-tag.model.ts
  src/app/user/models/enums/tags.enum.ts
  src/app/user/models/user-address.model.ts
  src/app/user/pages/profile/components/address-tag-input/address-tag-input.component.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.ts
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.ts
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.ts
  src/app/user/pages/profile/services/customer-action-builder.service.ts
  src/app/user/user.module.ts
Due: eslint --fix, prettier --list-different --write

EC-50 feat(catalog): add dynamic image optimization with animation use
  .stylelintrc
  src/app/catalog/components/card/card.component.html
  src/app/catalog/components/card/card.component.scss
  src/app/catalog/components/card/card.component.ts
  src/app/core/components/price/price.component.scss
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-56 feat: finish task
  package-lock.json
  package.json
  src/app/shared/services/notofication.service.ts
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.html
  src/app/user/pages/profile/components/customer-addresses/customer-address/customer-address.component.ts
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.html
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.scss
  src/app/user/pages/profile/components/customer-addresses/customer-addresses.component.ts
  src/app/user/pages/profile/components/customer-info/customer-info.component.ts
  src/app/user/pages/profile/components/dialogs/baseUserProfileDialog.ts
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.ts
  src/app/user/pages/profile/components/dialogs/password-dialog/password-dialog.component.ts
  src/app/user/pages/profile/components/dialogs/user-info-dialog/user-info-dialog.component.ts
  src/app/user/pages/profile/profile.component.html
  src/app/user/pages/profile/profile.component.scss
  src/app/user/pages/profile/profile.component.ts
  src/app/user/pages/profile/services/customer-action-builder.service.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-58 feat: add porfile guard
  src/app/user/pages/profile/guard/profile.guard.ts
  src/app/user/user-routing.module.ts
Due: eslint --fix, prettier --list-different --write

EC-58 feat: add catalog btn
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/user/pages/profile/components/dialogs/edit-address-dialog/edit-address-dialog.component.html
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-54 feat: add product page
  src/app/catalog/catalog-routing.module.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/products/products.component.html
  src/app/catalog/components/products/products.component.ts
  src/app/catalog/pages/product/product.component.html
  src/app/catalog/pages/product/product.component.scss
  src/app/catalog/pages/product/product.component.spec.ts
  src/app/catalog/pages/product/product.component.ts
  src/app/catalog/resolvers/product.resolver.ts
  src/app/core/services/product.service.ts
  src/app/main/pages/main/main.component.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-53 feat(catalog): create static tree
  src/app/catalog/catalog-routing.module.ts
  src/app/catalog/catalog.component.html
  src/app/catalog/catalog.component.scss
  src/app/catalog/catalog.component.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/categories/categories.component.html
  src/app/catalog/components/categories/categories.component.scss
  src/app/catalog/components/categories/categories.component.spec.ts
  src/app/catalog/components/categories/categories.component.ts
  src/app/catalog/components/categories/tree-item/tree-item.component.html
  src/app/catalog/components/categories/tree-item/tree-item.component.scss
  src/app/catalog/components/categories/tree-item/tree-item.component.spec.ts
  src/app/catalog/components/categories/tree-item/tree-item.component.ts
  src/app/catalog/components/filters/filters.component.html
  src/app/catalog/components/filters/filters.component.scss
  src/app/catalog/components/filters/filters.component.spec.ts
  src/app/catalog/components/filters/filters.component.ts
  src/app/catalog/components/products/products.component.ts
  src/app/catalog/guards/catalog.resolver.ts
  src/app/catalog/services/query-builder.service.spec.ts
  src/app/catalog/services/query-builder.service.ts
  src/app/core/models/category.ts
  src/app/core/models/page-query-results.ts
  src/app/core/models/product-page-result.ts
  src/app/core/services/category.service.spec.ts
  src/app/core/services/category.service.ts
  src/app/core/services/product.service.ts
  src/app/main/main-routing.module.ts
  src/app/ngrx/actions/catalog.actions.ts
  src/app/ngrx/effects/catalog.effects.ts
  src/app/ngrx/reducers/catalog.reducer.ts
  src/app/ngrx/selectors/catalog.selector.ts
  src/app/ngrx/state.model.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-53 feat(catalog): add change products on category change
  src/app/catalog/catalog-routing.module.ts
  src/app/catalog/catalog.component.ts
  src/app/catalog/components/card/card.component.html
  src/app/catalog/components/card/card.component.scss
  src/app/catalog/components/card/card.component.ts
  src/app/catalog/components/categories/categories.component.html
  src/app/catalog/components/categories/categories.component.scss
  src/app/catalog/components/categories/categories.component.ts
  src/app/catalog/components/categories/tree-item/tree-item.component.ts
  src/app/catalog/guards/catalog.resolver.ts
  src/app/catalog/models/product-projection.ts
  src/app/catalog/services/query-builder.service.ts
  src/app/core/models/category.ts
  src/app/core/models/page-query-results.ts
  src/app/core/services/category.service.ts
  src/app/core/services/product.service.ts
  src/app/main/main-routing.module.ts
  src/app/ngrx/actions/catalog.actions.ts
  src/app/ngrx/effects/catalog.effects.ts
  src/app/ngrx/state.model.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-54 feat: add content
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/carousel-img/carousel-img.component.html
  src/app/catalog/components/carousel-img/carousel-img.component.scss
  src/app/catalog/components/carousel-img/carousel-img.component.spec.ts
  src/app/catalog/components/carousel-img/carousel-img.component.ts
  src/app/catalog/pages/product/product.component.html
  src/app/catalog/pages/product/product.component.scss
  src/app/catalog/pages/product/product.component.ts
  src/app/core/components/price/price.component.scss
  src/app/shared/shared.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-53 feat(category-tree): finish tree
  src/app/catalog/catalog.component.ts
  src/app/catalog/components/categories/categories.component.html
  src/app/catalog/components/categories/categories.component.scss
  src/app/catalog/components/categories/categories.component.ts
  src/app/catalog/components/categories/tree-item/tree-item.component.html
  src/app/catalog/components/categories/tree-item/tree-item.component.scss
  src/app/catalog/components/categories/tree-item/tree-item.component.ts
  src/app/core/services/category.service.ts
  src/app/ngrx/effects/catalog.effects.ts
  src/app/ngrx/store.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-51 feat: add programatic control to category tree
  src/app/catalog/components/categories/categories.component.html
  src/app/catalog/components/categories/categories.component.ts
  src/app/catalog/components/filters/filters.component.ts
  src/app/catalog/components/products/products.component.ts
  src/app/catalog/guards/catalog.resolver.ts
  src/app/catalog/services/query-builder.service.ts
  src/app/user/pages/profile/components/address-tag-input/address-tag-input.component.ts
Due: eslint --fix, prettier --list-different --write

EC-60 feat: add menu for catalog
  src/app/catalog/catalog.component.html
  src/app/catalog/catalog.component.scss
  src/app/catalog/catalog.component.ts
  src/app/catalog/components/categories/categories.component.ts
  src/app/catalog/pages/product/product.component.scss
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/services/category.service.ts
  src/app/user/pages/profile/profile.component.scss
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write
