Repository GPTteam-RS-2023Q1/eCommerceApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-78 fix: change environments, add preconnect link
  src/environments/environment.ts
  src/index.html
Due: eslint --fix, prettier --list-different --write

EC-90 fix: translate registration page, update styles
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/catalog/components/categories/categories.component.scss
  src/app/catalog/components/categories/tree-item/tree-item.component.scss
  src/app/catalog/components/price/price.component.scss
  src/app/catalog/pages/product/product.component.html
  src/app/catalog/pages/product/product.component.scss
  src/app/core/pages/about/about.component.html
  src/app/core/pages/about/about.component.scss
  src/app/user/components/discount-input/discount-input.component.ts
  src/app/user/components/order-info/order-info.component.html
  src/app/user/components/order-info/order-info.component.scss
  src/assets/github.svg
  src/styles.scss
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-90 fix: fix product page styles
  src/app/catalog/pages/product/product.component.scss
Due: npx stylelint --fix, prettier --list-different --write

EC-90 fix: adaptive card-basket
  src/app/user/components/card-basket/card-basket.component.scss
  src/app/user/pages/cart/cart.component.scss
Due: npx stylelint --fix, prettier --list-different --write

EC-90 fix: fix adaptive
  src/app/core/components/header/header.component.scss
  src/app/user/pages/cart/cart.component.scss
Due: npx stylelint --fix, prettier --list-different --write

EC-90 feat(redeploy): add some code for better redeploy proccess
  .husky/pre-commit
  angular.json
  src/app/catalog/services/product.service.ts
  src/app/user/models/line-item-type.model.ts
  src/app/user/services/cart.service.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --list-different --write

EC-90 feat: add some features for reusing ecommerce
  .firebaserc
Due: prettier --list-different --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  npx stylelint --fix: any of: *.scss
  prettier --list-different --write: any of: *
