Repository GPTteam-RS-2023Q1/eCommerceApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-22 feat(validation): add postal code validation
  src/app/auth/components/address-form/address-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/directives/control-dependency.directive.ts
  src/app/auth/validators/postal-code-validator.ts
  src/app/consts/country-data.ts
Due: eslint --fix, prettier --list-different --write

EC-33 feat: add assets
  src/assets/banner.avif
  src/assets/banner1.avif
  src/assets/banner2.avif
  src/assets/banner3.avif
  src/assets/banner4.avif
  src/assets/banner5.avif
  src/assets/banner6.avif
  src/assets/banner7.avif
  src/assets/banner8.avif
  src/assets/fb.svg
  src/assets/instagram.svg
  src/assets/logo.svg
  src/assets/pinterest.svg
  src/assets/user-logo.svg
  src/favicon.ico
Due: prettier --list-different --write

EC-33 feat: add pages main and catalog
  .stylelintrc
  src/app/main/main-routing.module.ts
  src/app/main/main.module.ts
  src/app/main/pages/catalog/catalog.component.html
  src/app/main/pages/catalog/catalog.component.scss
  src/app/main/pages/catalog/catalog.component.spec.ts
  src/app/main/pages/catalog/catalog.component.ts
  src/app/main/pages/main/main.component.html
  src/app/main/pages/main/main.component.scss
  src/app/main/pages/main/main.component.spec.ts
  src/app/main/pages/main/main.component.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-33 feat: add header
  src/app/core/components/auth-menu/auth-menu.component.html
  src/app/core/components/auth-menu/auth-menu.component.scss
  src/app/core/components/auth-menu/auth-menu.component.spec.ts
  src/app/core/components/auth-menu/auth-menu.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/components/user-menu/user-menu.component.html
  src/app/core/components/user-menu/user-menu.component.scss
  src/app/core/components/user-menu/user-menu.component.spec.ts
  src/app/core/components/user-menu/user-menu.component.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-33 feat: add footer
  src/app/core/components/footer/footer.component.html
  src/app/core/components/footer/footer.component.scss
  src/app/core/components/footer/footer.component.spec.ts
  src/app/core/components/footer/footer.component.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-33 feat: add pages about, profile, cart
  src/app/core/pages/about/about.component.html
  src/app/core/pages/about/about.component.scss
  src/app/core/pages/about/about.component.spec.ts
  src/app/core/pages/about/about.component.ts
  src/app/user/pages/cart/cart.component.html
  src/app/user/pages/cart/cart.component.scss
  src/app/user/pages/cart/cart.component.spec.ts
  src/app/user/pages/cart/cart.component.ts
  src/app/user/pages/profile/profile.component.html
  src/app/user/pages/profile/profile.component.scss
  src/app/user/pages/profile/profile.component.spec.ts
  src/app/user/pages/profile/profile.component.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-33 feat: add links to all pages
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/core/core.module.ts
  src/app/core/pages/not-found/not-found.component.scss
  src/app/user/user-routing.module.ts
  src/app/user/user.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-22 feat(sign-up): create custom controls
  src/app/auth/auth.module.ts
  src/app/auth/components/address-form/address-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/directives/control-dependency.directive.ts
  src/app/shared/components/email-input/email-input.component.html
  src/app/shared/components/email-input/email-input.component.scss
  src/app/shared/components/email-input/email-input.component.spec.ts
  src/app/shared/components/email-input/email-input.component.ts
  src/app/shared/components/input/input.component.html
  src/app/shared/components/input/input.component.scss
  src/app/shared/components/input/input.component.spec.ts
  src/app/shared/components/input/input.component.ts
  src/app/shared/models/abstractRajiControl.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-22 feat(sign-in): create sign in form
  src/app/auth/auth.module.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.scss
  src/app/auth/components/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/pages/sign-in/sign-in.component.html
  src/app/auth/pages/sign-in/sign-in.component.scss
  src/app/shared/components/email-input/email-input.component.ts
  src/app/shared/components/input/input.component.ts
  src/app/shared/components/password-input/password-input.component.html
  src/app/shared/components/password-input/password-input.component.scss
  src/app/shared/components/password-input/password-input.component.spec.ts
  src/app/shared/components/password-input/password-input.component.ts
  src/app/shared/models/abstract-raji-control.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-22 fix(sign-in): fix styles for sign-in form
  .eslintrc.json
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/pages/sign-in/sign-in.component.scss
  src/app/auth/validators/email-validator.ts
  src/app/auth/validators/password-validator.ts
  src/app/shared/components/email-input/email-input.component.html
  src/app/shared/components/email-input/email-input.component.scss
  src/app/shared/components/input/input.component.html
  src/app/shared/components/input/input.component.scss
  src/app/shared/components/password-input/password-input.component.html
  src/app/shared/components/password-input/password-input.component.scss
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-14 fix: fix tests
  src/app/app.component.spec.ts
  src/app/auth/services/auth.service.spec.ts
Due: eslint --fix, prettier --list-different --write

EC-14 fix: fix tests
  src/app/auth/components/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/pages/sign-in/sign-in.component.spec.ts
  src/app/auth/pages/sign-up/sign-up.component.spec.ts
  src/app/core/components/auth-menu/auth-menu.component.spec.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/user-menu/user-menu.component.spec.ts
  src/app/main/pages/main/main.component.spec.ts
  src/app/shared/components/email-input/email-input.component.spec.ts
  src/app/shared/components/input/input.component.spec.ts
  src/app/shared/components/password-input/password-input.component.spec.ts
Due: eslint --fix, prettier --list-different --write

EC-14 feat: add error messages due login fail
  src/app/auth/auth.module.ts
  src/app/auth/components/auth-fail/auth-fail.component.html
  src/app/auth/components/auth-fail/auth-fail.component.scss
  src/app/auth/components/auth-fail/auth-fail.component.spec.ts
  src/app/auth/components/auth-fail/auth-fail.component.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/directives/control-dependency.directive.spec.ts
  src/app/auth/pages/sign-in/sign-in.component.spec.ts
  src/app/ngrx/actions/auth.actions.ts
  src/app/ngrx/reducers/auth.reducer.ts
  src/app/ngrx/selectors/auth.selector.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-14 refactor: refactor subs handling
  src/app/auth/components/auth-fail/auth-fail.component.ts
Due: eslint --fix, prettier --list-different --write

EC-14 refactor: refactor autologin method with early return
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --list-different --write

EC-22 feat(address form): cretae reusaible address form
  package-lock.json
  package.json
  src/app/auth/components/address-form/address-form.component.html
  src/app/auth/components/address-form/address-form.component.scss
  src/app/auth/components/address-form/address-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/pages/sign-up/sign-up.component.scss
  src/app/auth/validators/birthday-validator.ts
  src/app/auth/validators/postal-code-validator.ts
  src/app/consts/country-data.ts
  src/app/shared/components/email-input/email-input.component.ts
  src/app/shared/components/input/input.component.ts
  src/app/shared/components/password-input/password-input.component.ts
  src/app/shared/models/classes/abstract-raji-control.ts
  src/app/shared/models/interfaces/address-from.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-22 feat(address): add country sorting, postal code error country matching
  src/app/auth/components/address-form/address-form.component.html
  src/app/auth/components/address-form/address-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
Due: eslint --fix, prettier --list-different --write

EC-22 feat(country data base): create country data base
  src/app/consts/country-data.ts
Due: eslint --fix, prettier --list-different --write

EC-28 feat: add redirection upon successfull login
  src/app/ngrx/effects/auth.effects.ts
Due: eslint --fix, prettier --list-different --write

EC-28 feat: add auth guard
  src/app/auth/auth-routing.module.ts
  src/app/auth/guards/auth.guard.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/ngrx/selectors/auth.selector.ts
Due: eslint --fix, prettier --list-different --write

EC-37 feat: add store devtools
  package-lock.json
  package.json
  src/app/app.module.ts
Due: eslint --fix, prettier --list-different --write

EC-37 feat: add log out
  src/app/app-routing.module.ts
  src/app/auth/auth-routing.module.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/core/components/auth-menu/auth-menu.component.html
  src/app/core/components/auth-menu/auth-menu.component.scss
  src/app/core/components/user-menu/user-menu.component.html
  src/app/core/components/user-menu/user-menu.component.scss
  src/app/core/components/user-menu/user-menu.component.ts
  src/app/core/core.module.ts
  src/app/ngrx/actions/auth.actions.ts
  src/app/ngrx/effects/auth.effects.ts
  src/app/ngrx/reducers/auth.reducer.ts
  src/app/shared/models/localStorage.enun.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-37 feat: save customer, add user name
  src/app/auth/models/authLocalStorage.model.ts
  src/app/auth/models/customer.model.ts
  src/app/auth/models/signInResult.model.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/user-menu/user-menu.component.html
  src/app/core/components/user-menu/user-menu.component.ts
  src/app/ngrx/actions/auth.actions.ts
  src/app/ngrx/effects/auth.effects.ts
  src/app/ngrx/reducers/auth.reducer.ts
  src/app/ngrx/selectors/auth.selector.ts
  src/app/ngrx/state.model.ts
Due: eslint --fix, prettier --list-different --write

EC-37 fix: rename banner
  src/app/main/pages/main/main.component.html
  src/app/main/pages/main/main.component.ts
  src/assets/banner.avif
  src/assets/banner0.1.avif
  src/assets/banner0.2.avif
  src/assets/banner1.1.avif
  src/assets/banner1.2.avif
  src/assets/banner2.1.avif
  src/assets/banner2.2.avif
  src/assets/banner3.1.avif
  src/assets/banner3.2.avif
  src/assets/banner8.avif
Due: eslint --fix, prettier --list-different --write

EC-22 feat(sign up form): add client side error handling
  src/app/auth/components/address-form/address-form.component.html
  src/app/auth/components/address-form/address-form.component.scss
  src/app/auth/components/address-form/address-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-37 refactor: move Store Devtools Module in AppStoreModule
  src/app/app.module.ts
  src/app/ngrx/store.module.ts
Due: eslint --fix, prettier --list-different --write

EC-22 feat: merge EC-22 branch with sprint_2
  package-lock.json
  package.json
  src/app/auth/components/address-form/address-form.component.html
  src/app/auth/components/address-form/address-form.component.scss
  src/app/auth/components/address-form/address-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/pages/sign-up/sign-up.component.scss
  src/app/auth/validators/birthday-validator.ts
  src/app/auth/validators/postal-code-validator.ts
  src/app/consts/country-data.ts
  src/app/shared/components/email-input/email-input.component.ts
  src/app/shared/components/input/input.component.ts
  src/app/shared/components/password-input/password-input.component.ts
  src/app/shared/models/classes/abstract-raji-control.ts
  src/app/shared/models/interfaces/address-from.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, npx stylelint --fix, prettier --list-different --write

EC-22 fix(validation): last name and first name validation
  src/app/auth/validators/numbers-validator.ts
  src/app/auth/validators/special-characters-validator.ts
  src/app/auth/validators/white-space-validator.ts
  src/app/utils/compareObjects.ts
Due: eslint --fix, prettier --list-different --write

EC-22 feat: add customer-builder
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/models/address-from.model.ts
  src/app/auth/models/address.model.ts
  src/app/auth/models/customer-draft.model.ts
  src/app/auth/models/customer.modet.ts
  src/app/auth/models/sign-up-form.model.ts
  src/app/core/services/customer-builder.service.spec.ts
  src/app/core/services/customer-builder.service.ts
Due: eslint --fix, prettier --list-different --write

EC-22 fix(validation): add numbers and special characters validation to city field
  src/app/auth/components/address-form/address-form.component.ts
Due: eslint --fix, prettier --list-different --write

EC-25 feat: change form data according to api
  src/app/auth/components/address-form/address-form.component.html
  src/app/auth/components/address-form/address-form.component.ts
  src/app/consts/country-data.ts
  src/app/core/services/customer-builder.service.ts
Due: eslint --fix, prettier --list-different --write

EC-25 feat: change autoLogin & add signUp func
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/models/authLocalStorage.model.ts
  src/app/auth/services/auth.service.ts
  src/app/ngrx/actions/auth.actions.ts
  src/app/ngrx/effects/auth.effects.ts
  src/app/ngrx/reducers/auth.reducer.ts
Due: eslint --fix, prettier --list-different --write

EC-25 feat: add error messages
  src/app/auth/components/auth-fail/auth-fail.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
Due: eslint --fix, prettier --list-different --write

EC-25 fix: fix bug with errors
  src/app/ngrx/reducers/auth.reducer.ts
Due: eslint --fix, prettier --list-different --write

EC-25 refactor: refactor auth fail
  src/app/auth/components/auth-fail/auth-fail.component.ts
Due: eslint --fix, prettier --list-different --write

EC-25 fix: add crutch autoLogin effect
  src/app/ngrx/effects/auth.effects.ts
Due: eslint --fix, prettier --list-different --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  npx stylelint --fix: any of: *.scss
  prettier --list-different --write: any of: *
